@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root{
    /* colors */
    --colorPrimary: #23242C;
    --colorSecundary: #F29200;
    --colorMen: #a4cdfc;
    --colorGirl: #FF8BD1;

    /* font */
    --fontPrimary: "Baloo 2", sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--colorPrimary);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--colorSecundary); 
    border-radius: 50px;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontPrimary);
    color: var(--colorPrimary);
    font-weight: 500;
    font-size: 18px;
    outline: none;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffffff;
}

.hidden{
    display: none;
}

.conteinerStart{
    display: none;
}



.conteinerQuizes{
    height: calc(100vh);
    padding: 0px 20px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
}

.divLabelInput{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0px 0px 10px;
}

img{
    width: 100%;
}

a{
    display: inline-block;
}

p, label{
    line-height: 1.1em;
    text-align: center;
}

label, span{
    line-height: 1.1em;
    text-align: start;
}

input{
    height: 44px;
    border-radius: 30px;
    border: 1px solid var(--colorPrimary);
    padding: 5px 10px;
}

input::placeholder{
    color: var(--colorPrimary);
    opacity: 40%;
}

.logoStart{
    display: flex;
    justify-content: center;
    background-color: var(--colorPrimary);
    clip-path: ellipse(75% 95% at 50% 0%);
    padding: 15px 0;
}

.logoStart img{
    width: 60px;
}

.blockStart{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    width: min(100%, 500px);
    margin: 15px auto 0px;
    padding: 0px 20px 20px;
}

.blockStart h2{
    font-size: 33px;
    line-height: 1.1em;
    font-weight: bold;
    text-align: center;
}

.buttonStart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonStart img{
    width: 20px;
}

.conteinerButtonStart{
    width: 100%;
}

.blockStart .buttonStart{
    width: min(100%, 500px);
    margin: 0px auto;
    padding: 10px;
    color: white;
    background-color: var(--colorSecundary);
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.blockStart p.privacidadeTermos{
    font-size: 10px;
}


.blockStart a.termos{
    color: var(--colorSecundary);
    font-size: 10px;
}

/* ----------------------------- */

.conteinerEnd{
    /* height: 100vh; */
}

.blockEnd{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    width: min(100%, 500px);
    margin: 15px auto 0px;
    padding: 0px 20px 0px;
}

.blockEnd h2{
    font-size: 33px;
    line-height: 1.1em;
    font-weight: bold;
    text-align: center;
}

.logoEnd{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* background-color: var(--colorPrimary); */
    /* clip-path: ellipse(75% 95% at 50% 100%); */
    padding: 15px 0;
}

.logoEnd img{
    width: 60px;
}

.blockTitleEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blockTitleEnd p:nth-child(1){
    width: 200px;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    color: var(--colorSecundary);
    background-color: var(--colorPrimary);
    padding: 10px;
}

.blockTitleEnd p:nth-child(2){
    /* width: 200px; */
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    color: var(--colorPrimary);
    background-color: var(--colorSecundary);
    padding:2px 10px;
}

.worldImage img{
    width: 270px;
}

/* ---------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    /* background-color: #ffffff; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.back-button {
    display: flex;
    align-items: center;
    gap: .4em;
    color: var(--colorSecundary);
    text-decoration: none;
    /* font-size: 16px; */
    cursor: pointer;
}

.step-indicator span{
    /* font-weight: bold; */
    /* font-size: 18px; */
    color: var(--colorSecundary);
}


.logo{
    display: flex;
    align-items: center;
}

.logo img {
    /* height: 30px; */
    width: 42px;
}

.progress-container {
    width: 100%;
    /* max-width: 300px; */
    height: 8px;
    background-color: var(--colorPrimary);
    border-radius: 4px;
    overflow: hidden;
    /* margin: 0px 0px 20px; */
}
.progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--colorSecundary); /* Cor laranja */
    transition: width 0.3s ease;
}

.conteiner02, .conteiner03, .conteiner04, .conteiner05, .conteiner06, .conteiner07, .conteiner08, .conteiner09, .conteiner10, .conteiner11, .conteiner12, .conteiner13, .conteiner14, .conteiner15, .conteiner16, .conteiner17, .conteiner19{
    width: min(100%, 500px);
    margin: 15px auto 0px;
}

.conteinerInputs{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteiner02 > p, .conteiner08 > p{
    text-align: center;
}

.imagesBackground{
    margin: 15px auto;
    width: min(100%, 500px);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.imagesGeners{
    display: flex;
    justify-content: center;
    gap: 2.5em;
    padding: 10px 0px;
}

.imagesGeners img{
    width: min(100%, 150px);
}

.imageGirl, .imageMen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.girl, p.men{
    transition: .5s all;
}

.imageGirl p.activeGirl{
    color: var(--colorGirl);
    font-weight: 600;
}

.imageMen p.activeMen{
    color: var(--colorMen);
    font-weight: 600;
}

.imageGirl:hover > p.girl{
    color: var(--colorGirl);
    font-weight: 600;
}

.imageMen:hover > p.men{
    color: var(--colorMen);
    font-weight: 600;
}

.conteinerButtonNext{
    padding: 10px 0px 15px;
    margin: 0 auto;
    width: min(100%, 500px);
}

.buttonNext{
    width: min(100%, 500px);
    margin: 0px auto;
    padding: 10px;
    background-color: var(--colorSecundary);
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}


p.titleName, p.titleDefault{
    margin-bottom: 15px;
}

p.pTop{
    margin: 20px;
}

.numeric-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--colorPrimary);
    border-radius: 30px;
    overflow: hidden;
}
.numeric-input-button {
    background-color: transparent;
    border: none;
    color: var(--colorPrimary);
    font-size: 30px;
    padding: 0px 15px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.numeric-input-button:hover {
    opacity: 0.7;
}
.numeric-input-field {
    flex-grow: 1;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 50px;
    background-color: transparent;
    color: var(--colorPrimary);
}
.numeric-input-field::-webkit-inner-spin-button, 
.numeric-input-field::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
.numeric-input-label {
    font-weight: bold;
    color: var(--colorPrimary);
}

h2 {
    color: #333;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 colunas */
    gap: 20px;
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-bottom: 20px;
}

.image-checkbox {
    /* grid-area: 5; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
}
.image-checkbox:hover {
    transform: translateY(-5px);
}
.image-wrapper {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 8px;
}
.image-checkbox img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}
.image-checkbox input {
    display: none;
}
.image-checkbox label {
    text-align: center;
    font-size: 15px;
    color: #333;
}
.image-checkbox.selected .image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(244, 140, 34, 0.6); /* #F48C22 com 60% de opacidade */
    pointer-events: none;
}

@media (max-width: 490px){
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    }
}

@media (max-width: 280px){
    .image-grid {
        grid-template-columns: repeat(1, 1fr); /* 2 colunas */
    }
}

/* ---------------- */


@media (max-width: 450px){
    #idTextDataDeIda, #idTextDataDeVolta{
        width: 150px;
        /* width: min(100%, 150px); */
    }
}

@media (max-width: 350px){
    #idTextDataDeIda, #idTextDataDeVolta{
        width: 120px;
        /* width: min(100%, 150px); */
    }
}

.dataIda, .dataVolta{
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.radio-button {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--colorPrimary);
    border-radius: 30px;
    height: 44px;
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0px 0px 10px;
}
.radio-button input[type="radio"] {
    display: none;
}
.radio-button label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    color: var(--colorPrimary);
    font-weight: 500;
}
.checkmark {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: all 0.3s ease;
    flex-shrink: 0;
}
.checkmark::after {
    content: '\2714';
    display: none;
    color: white;
    font-size: 12px;
    padding-top: 2px;
    font-weight: bold;
}
.radio-button input[type="radio"]:checked + label .checkmark {
    background: var(--colorPrimary);
    border-color: var(--colorPrimary);
}
.radio-button input[type="radio"]:checked + label .checkmark::after {
    display: block;
}
.radio-button input[type="radio"]:checked + label {
    color: var(--colorPrimary);
}

.date-input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px; 
    border: 1px solid #23242C;
    border-radius: 15px; 
    color: #23242C;
    outline: none;
    box-sizing: border-box;
}
.date-input::placeholder {
    color: #23242C;
    opacity: 0.5;
}